<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="WUMedCo" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
         AttachDbFilename=[ENTER_FILEPATH_HERE]\WUMedCo.mdf; 
         Integrated Security=False"
         providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>